// Color scheme -----------------------------------

@dbg: #233949; // Dark background
@dhl: #334959; // Dark highlight
@dt2: #738999; // Dark bg text secondary
@dt1: #A3B9C9; // Dark bg text primary

@lbg: #ECF3F2; // Light background
@lhl: #DCE3E2; // Light highlight
@lt2: #8C9392; // Light bg text secondary
@lt1: #5C6362; // Light bg text primary

@red: #D86A87; // Red
@ora: #D89A47; // Orange
@yel: #CD9A8A; // Yellow
@gre: #5CBC7D; // Green

@cya: #1CABA1; // Cyan
@blu: #4AA7D2; // Blue
@vio: #7988CA; // Violet
@mag: #BC74AF; // Magenta

// Visual order -----------------------------------

@primary1: @cya;
@primary2: @gre;
@primary3: @mag;

@secondary1: @vio;
@secondary2: @blu;

@tertiary1: @ora;
@tertiary2: @red;
@tertiary3: @yel;

// Theme variant ----------------------------------

@text1: @lt1; // text primary
@text2: @lt2; // text secondary
@syntax-bg: @lbg; // background
@syntax-guide: @lhl; // background highlight

// Atom Base vars ---------------------------------

@syntax-fg: @text1; // text primary
@syntax-accent: @tertiary1; // cursor, markdown preview links, etc.
@syntax-selection: @syntax-guide;
@syntax-selection-gutter: @syntax-guide;
@syntax-cursor-line: fade(@syntax-selection, 26%); // needs to be semi-transparent to show serach results
